# -*- mode: conf-unix -*-

[alias]
    g      = log --graph --format=format:'%C(blue bold)%h%C(reset) %C(cyan bold)%ai%C(reset) %C(green bold)(%ar)%C(reset)%C(yellow bold)%d%C(reset)%n''    %C(white)%s%C(reset) %C(dim white)- %an <%aE>%C(reset)'
    ga     = !"git g --all"
    sgraph = log --graph --decorate=short --all --oneline
    sg     = !"git sg"
    co     = checkout
    amend  = commit --amend

[include]
    path = ~/.gitconfig.local

[core]
    editor = emacsclient -t -nw
    pager = less -FRSX
    autocrlf = input

[color]
	ui = auto

[diff]
    indentHeuristic = true
    algorithm = histogram

[push]
    default = simple
	autoSetupRemote = true

[init]
    defaultBranch = main

